In [10]:

import pandas as pd
df = pd.read_csv('final_dataframe1.csv')

In [11]:
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 23 columns):
id              179 non-null int64
activity        179 non-null object
time_min        179 non-null float64
time_max        179 non-null float64
time_average    179 non-null float64
x_min           179 non-null float64
y_min           179 non-null float64
z_min           179 non-null float64
x_std           179 non-null float64
y_std           179 non-null float64
z_std           179 non-null float64
x_var           179 non-null float64
y_var           179 non-null float64
z_var           179 non-null float64
x_median        179 non-null float64
y_median        179 non-null float64
z_median        179 non-null float64
x_mean          179 non-null float64
y_mean          179 non-null float64
z_mean          179 non-null float64
x_max           179 non-null float64
y_max           179 non-null float64
z_max           179 non-null float64
dtypes: float64(21), int64(1), object(1)
memory usage: 32.3+ KB

In [13]:
df.head()

,id,activity,time_min,time_max,time_average,x_min,y_min,z_min,x_std,y_std,...,z_var,x_median,y_median,z_median,x_mean,y_mean,z_mean,x_max,y_max,z_max
0,1,Walking,4.991920e+12,5.974870e+12,5.472666e+12,-19.61,-5.79,-15.09,6.967989,5.396160,...,10.373247,-1.23,9.62,-0.72,-1.000041,9.455536,-0.343607,19.57,19.57,13.44
1,1,Jogging,5.374660e+12,6.298490e+12,5.854316e+12,-19.61,-19.61,-17.20,10.706282,9.483499,...,31.966332,-0.04,0.42,0.57,-0.208456,0.197931,1.164557,19.57,19.57,19.00
2,1,Upstairs,6.489310e+12,6.848770e+12,6.668160e+12,-19.61,-13.95,-16.44,7.779192,6.492359,...,22.574183,-6.70,5.09,0.15,-6.349433,5.332679,0.633660,16.55,19.57,18.58
3,1,Downstairs,6.552940e+12,6.895550e+12,6.726542e+12,-19.61,-5.01,-10.15,8.061251,4.761467,...,15.828829,-0.84,8.54,-0.11,-1.033366,8.542870,0.575641,19.57,19.57,17.05
4,2,Walking,7.981270e+12,1.001250e+13,9.028226e+12,-19.50,-3.21,-17.27,3.151260,3.480465,...,11.788414,-4.21,8.77,-0.50,-4.281787,8.764060,-0.571448,10.92,19.57,11.14

In [14]:
label = df["activity"].map({"Walking":0,"Jogging":1, "Sitting":2,"Upstairs":3,"Downstairs":4,"Standing":5})
print(label)
df["label"]=label

0      0
1      1
2      3
3      4
4      0
      ..
174    1
175    2
176    3
177    4
178    5
Name: activity, Length: 179, dtype: int64

In [40]:
final_label = df["activity"].map({"Walking":1,"Jogging":2, "Sitting":3,"Upstairs":1,"Downstairs":1,"Standing":3})
print(final_label)
df["final_label"]=final_label

0      1
1      2
2      1
3      1
4      1
      ..
174    2
175    3
176    1
177    1
178    3
Name: activity, Length: 179, dtype: int64

In [48]:
df.to_csv(r'final_dataframe_threeclass.csv',index = False)

In [41]:
print(df.head())

   id    activity      time_min      time_max  time_average  x_min  y_min  \
0   1     Walking  4.991920e+12  5.974870e+12  5.472666e+12 -19.61  -5.79
1   1     Jogging  5.374660e+12  6.298490e+12  5.854316e+12 -19.61 -19.61
2   1    Upstairs  6.489310e+12  6.848770e+12  6.668160e+12 -19.61 -13.95
3   1  Downstairs  6.552940e+12  6.895550e+12  6.726542e+12 -19.61  -5.01
4   2     Walking  7.981270e+12  1.001250e+13  9.028226e+12 -19.50  -3.21

   z_min      x_std     y_std  ...  y_median  z_median    x_mean    y_mean  \
0 -15.09   6.967989  5.396160  ...      9.62     -0.72 -1.000041  9.455536
1 -17.20  10.706282  9.483499  ...      0.42      0.57 -0.208456  0.197931
2 -16.44   7.779192  6.492359  ...      5.09      0.15 -6.349433  5.332679
3 -10.15   8.061251  4.761467  ...      8.54     -0.11 -1.033366  8.542870
4 -17.27   3.151260  3.480465  ...      8.77     -0.50 -4.281787  8.764060

     z_mean  x_max  y_max  z_max  label  final_label
0 -0.343607  19.57  19.57  13.44      0            1
1  1.164557  19.57  19.57  19.00      1            2
2  0.633660  16.55  19.57  18.58      3            1
3  0.575641  19.57  19.57  17.05      4            1
4 -0.571448  10.92  19.57  11.14      0            1

[5 rows x 25 columns]

In [61]:
X = df.iloc[0:179:, 2:23].values
y = df.iloc[0:179, 24].values

In [54]:
#with six class level..........
X1 = df.iloc[0:179:, 2:23].values
y1 = df.iloc[0:179, 23].values

In [51]:
print(y)

[1 2 1 1 1 2 1 2 3 1 1 3 1 2 3 1 1 1 2 3 1 1 3 1 2 3 1 1 3 1 2 3 1 1 3 1 2
 3 1 1 3 1 1 2 1 1 3 1 2 1 1 1 2 3 1 1 3 1 2 3 1 1 3 1 2 1 1 1 2 1 1 1 3 1
 1 3 1 2 1 1 1 2 3 1 1 3 1 2 3 1 1 3 1 2 3 1 1 3 1 2 3 1 1 3 1 2 1 1 1 2 1
 1 1 2 3 1 1 3 1 2 1 2 1 1 1 2 3 1 1 3 1 1 1 3 1 2 3 1 1 3 1 3 1 1 3 1 2 3
 1 1 3 1 2 3 1 1 3 1 2 3 1 1 3 1 2 3 1 1 3 1 2 3 3 1 2 3 1 1 3]

In [55]:
print(y1)

[0 1 3 4 0 1 0 1 2 3 4 5 0 1 2 3 4 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1
 2 3 4 5 0 0 1 3 4 5 0 1 3 4 0 1 2 3 4 5 0 1 2 3 4 5 0 1 3 4 0 1 3 4 0 2 3
 4 5 0 1 3 4 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 3 4 0 1 3
 4 0 1 2 3 4 5 0 1 0 1 3 4 0 1 2 3 4 5 0 3 4 5 0 1 2 3 4 5 0 2 3 4 5 0 1 2
 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 5 0 1 2 3 4 5]

In [62]:
from sklearn.model_selection import train_test_split
seed = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = seed)

In [63]:
#for six class........
from sklearn.model_selection import train_test_split
seed = 1
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = seed)

In [64]:
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.metrics import confusion_matrix
import itertools
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [65]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [66]:
from sklearn.ensemble import RandomForestClassifier
classifier1 = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier1.fit(X1_train, y1_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [67]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 88.89%

In [69]:
#for six class.......
y_pred1 = classifier1.predict(X1_test)
from sklearn.metrics import accuracy_score
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y1_test, y_pred1)
accuracy = accuracy_score(y1_test, y_pred1)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 66.67%

In [47]:
#for three class.......
#adaboost.
clf = RandomForestClassifier(n_estimators=50,n_jobs=-1)
classifier = AdaBoostClassifier(base_estimator=clf,n_estimators=clf.n_estimators)
clf = classifier.fit(X_train, y_train)
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = clf, X = X, y = y, cv = 4)
print(accuracies.mean())

0.9664141414141414

In [70]:
#for six class......
clf1 = RandomForestClassifier(n_estimators=50,n_jobs=-1)
classifier1 = AdaBoostClassifier(base_estimator=clf,n_estimators=clf.n_estimators)
clf1 = classifier.fit(X1_train, y1_train)
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = clf1, X = X, y = y1, cv = 4)
print(accuracies.mean())

0.6536616161616161

In [72]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='weighted')

0.8719576719576719

In [49]:
#plot confusion matrix...
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, cm[i, j],
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')